
html {
  
  height: 100%;
  padding: 0;
  margin: 0;
  
}

body{
  
  background-color: #7fe7dc;
  
  
}

.logo {
  
  padding: 0.5rem;
  font-size: 2.5rem;
  font-family: 'Lobster', cursive;
  text-shadow: 3px 0.5px 0.5px white;
  letter-spacing: 1px;
  

}



main {
  
  
  font-size: 60px;
  margin: 100px;
  text-align: Center;
  font-family: 'Lobster', cursive;
  text-shadow: 3px 0.5px 0.5px white;
  letter-spacing: 1px;
  
 
}




.mainContainer {
  
  border: 10px solid white;
  border-radius: 5px;
  margin: 10px;
  
}



.navContainer,
.footerContainer {
  
    border: 5px solid white;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    
}



 .navButton ,
 .socialLinks {
   
   background-color: white;
   border: 3px solid #f47a60;
   display: inline-block;
   border-radius: 50%;
   margin: 10px;
   height: 50px;
   width: 50px;
   font-weight: bold;
   font-size: 0.75rem;
   cursor: pointer;
   padding: 15px;
   letter-spacing: 1px;
   
 }





 .circles {
  
  text-align: center;
  padding-top: 1.5px;
  
}
 
  
 .aboutMain {
  
  font-size: 1.5rem;
  font-family: New Times Roman;
  text-shadow: 3px 3px 3px grey;
  padding: 0px 150px 0px 150px;
  line-height: 2 ;
  letter-spacing: 1px;
  padding-top: 50px
  padding-bottom: 50px;
  
 
}


 .aboutHi {

   font-size: 40px;
  
 }
 
 
.projectsMain {
  
  
  
}


.contactMain {
  
  font-size:1.5rem;
  letter-spacing: 1.5px;
  line-height: 2 ;
  
}
  





  
  
  